{% extends "template.twig" %}
{% block section %}event{% endblock %}
{% block page %}index{% endblock %}

{% block hero %}
    <article class="details">
        <span class="date">{{ event.starts_at|date('F j') }}-{{ event.ends_at|date('j') }}</span>
        <span class="time">{{ i18n('common.noon-noon') }}</span>
    </article>
    <article class="lead">
        <h2>{{ i18n('event.build', {'region': event.region_name}) }}</h2>
        <p>{{ i18n('event.invited', {'region': event.region_name}) }}</p>
    </article>
    <article class="action">
        {% if event and event.registration_info.is_open and event.registration_info.remaining > 0 %}
            <a href="{{ langPrefix }}/{{ event.webname }}/register" class="register">
                {% if event.registration_info.remaining < (event.registration_info.max * 0.10) %}
                    {{ i18n('event.cta-ticket-warn', {'remaining': event.registration_info.remaining}) }}
                {% else %}
                    {{ i18n('event.cta-ticket-normal') }}
                {% endif %}</a>
        {% elseif event and event.registration_info.is_open and event.registration_info.remaining == 0 %}
            {% if event.related_events %}
                <span class="sold-out-label">{{ i18n('event.cta-ticket-out-near') }}</span>
                {% for related_event in event.related_events %}
                    <a href="{{ langPrefix }}/{{ related_event.webname }}" class="nearby-avail">{{ related_event.region_name }}</a>
                {% endfor %}
            {% else %}
                <span class="sold-out">{{ i18n('event.cta-ticket-out') }}</span>
            {% endif %}
        {% else %}
            <span class="notify-label">{{ i18n('event.cta-notify' ) }}</span>
            <form action="/{{ event.webname }}/notify" method="post" class="notify-signup">
                <input type="email" name="email" id="email" placeholder="{{ i18n('common.email-sample') }}" />{#
                #}<input type="submit" value="{{ i18n('event.notify-signup') }}">
            </form>
        {% endif %}
        {% if event.venue %}
            <span class="venue">{{ i18n('common.hosted-at', {'link': 'https://www.google.com/maps/place/'~(event.venue.full_address|url_encode), 'name': event.venue.name}) }}</span>
        {% endif %}

        {% if event.related_events and not (event.registration_info.is_open and event.registration_info.remaining == 0) %}
            <section class="nearby">
                <span class="label">{{ i18n('event.nearby') }}</span>
                {% for related_event in event.related_events %}
                    <a href="{{ langPrefix }}/{{ related_event.webname }}" class="event">{{ related_event.region_name }}</a>
                {% endfor %}
            </section>
        {% endif %}
    </article>
{% endblock %}

{% block content %}
    <article class="what-is">
        <section class="details">
            <h3>{{ i18n('event.what-is') }}</h3>
            <p>{{ i18n('common.descr-detail-1') }}</p>
            <p>{{ i18n('common.descr-detail-2') }}</p>
        </section>
        <section class="video">
            <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_n6xc4pm90n videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
        </section>
    </article>


    <article class="how-works">
        <h3>{{ i18n('event.how-works') }}</h3>
        <ul>
            <li>
                <img src="/assets/img/friends.jpg" alt="{{ i18n('event.how-works-alt-1') }}" title="{{ i18n('event.how-works-title-1') }}" />
                <span class="caption">{{ i18n('event.how-works-step-1') }}</span>
            </li>
            <li>
                <img src="/assets/img/pitch.jpg" alt="{{ i18n('event.how-works-alt-2') }}" title="{{ i18n('event.how-works-title-2') }}" />
                <span class="caption">{{ i18n('event.how-works-step-2') }}</span>
            </li>
            <li>
                <img src="/assets/img/workshops.jpg" alt="{{ i18n('event.how-works-alt-3') }}" title="{{ i18n('event.how-works-title-3') }}" />
                <span class="caption">{{ i18n('event.how-works-step-3') }}</span>
            </li>
            <li>
                <img src="/assets/img/code.jpg" alt="{{ i18n('event.how-works-alt-4') }}" title="{{ i18n('event.how-works-title-4') }}" />
                <span class="caption">{{ i18n('event.how-works-step-4') }}</span>
            </li>
        </ul>
    </article>

    <article class="faq">
        <h3>{{ i18n('common.faq') }}</h3>
        <ul>
            <li>
                <span class="q">{{ i18n('event.faq-team-q') }}</span>
                <p>{{ i18n('event.faq-team-a') }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-bring-q') }}</span>
                <p>{{ i18n('event.faq-bring-a') }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-song-q') }}</span>
                <p>{{ i18n('event.faq-song-a') }}</p>
                <audio controls><source src="/assets/mp3/codeday-song.mp3" type="audio/mpeg" /></audio>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-code-q') }}</span>
                <p>{{ i18n('event.faq-code-a') }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-student-q') }}</span>
                <p>{{ i18n('event.faq-student-a') }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-sleep-q') }}</span>
                <p>{{ i18n('event.faq-sleep-a') }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-school-q') }}</span>
                <p>{{ i18n('event.faq-school-a', {'link': langPrefix~'/'~event.webname~'/register/schools'}) }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-security-q') }}</span>
                <p>{{ i18n('event.faq-security-a') }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-parent-q') }}</span>
                <p>{{ i18n('event.faq-parent-a') }}</p>
            </li>
        </ul>
    </article>

    {% if event.hashtag and event.photos|length > 0 %}
        <article class="photos">
            <h3>{{ i18n('event.previous-events') }}</h3>
            <div class="slideshow">
                {% for photo in event.photos %}
                    <div class="photo" style="background-image: url(https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_b.jpg)"></div>
                {% endfor %}
            </div>
        </article>
    {% endif %}

    {% if event.venue and event.venue.name != "TBA" %}
        <article class="map">
            <h3>{{ i18n('common.hosted-at-plain', {'name': event.venue.name}) }}:
                <a href="https://www.google.com/maps/place/{{ event.venue.full_address|url_encode }}" target="_blank"
                >{{ event.venue.address.line_1 }}{% if event.venue.address.line_2 %}, {{ event.venue.address.line_2 }}{% endif %},
                {{ event.venue.address.city }}</a></h3>
            <br/>
            <div id="map"></div>
        </article>
    {% endif %}

    <article class="schedule">
        <h3>{{ i18n('event.schedule') }}</h3>
        {% for day,entries in event.schedule %}
            <section class="day">
                <div class="schedule">
                    <h4>{{ day }}</h4>
                    <ul>
                        {% for entry in entries %}
                            <li>
                                <span class="time">{{ entry.hour }}</span>
                                <span class="task {{ entry.type }}">
                                    {% if entry.url %}<a target="_blank" href="{{ entry.url }}">{% endif %}
                                    {{ entry.title }}
                                    {% if entry.url %}</a>{% endif %}
                                    {% if entry.description %}
                                        <span class="popup">{{ entry.description }}</span>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endfor %}
    </article>

    <article class="sponsors">
        <h3>{{ i18n('event.supported-by') }}</h3>
        <ul>
            {% include "parts/national_sponsors.twig" %}
            {% for sponsor in event.sponsors %}
                <li>
                    {% if sponsor.url %}
                        <a href="{{ sponsor.url }}" title="{{ sponsor.name }}" target="_blank"><span style="background-image: url('{{ sponsor.logo }}');" title="{{ sponsor.name }}"></span></a>
                    {% else %}
                        <span style="background-image: url('{{ sponsor.logo }}');" title="{{ sponsor.name }}"></span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
{% block scripts %}
    {% include "parts/map.twig" %}
    <script src="/assets/js/typed.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        if($(".lead").width() > 900){
            $("#typed").typed({
              strings: [
                "fun",
                "useful",
                "entertaining",
                "inspiring",
                "unique",
                "amazing",
                "g^100r^100e^100a^100t"
              ],
              backDelay: 1500,
              typeSpeed: 50,
              showCursor: false
            });
        }
      });
    </script>
    <script src="/assets/js/jquery.slides.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".photos").each(function(){
                $(this).css('display', 'block');
                $(this).find('.slideshow').slidesjs({
                    height: (($(this).width()/9)*4),
                    play: {
                        active: true,
                        effect: "fade",
                        auto: true,
                        interval: 4000,
                        swap: true,
                        restartDelay: 4000
                    }
                });
            });
        });
    </script>
{% endblock %}
