{% extends "template.twig" %}
{% block section %}event{% endblock %}
{% block page %}index {% if is_mobile %}mobile{% endif %}{% endblock %}
{% block og_image %}{% if event.photosFeatured|length > 0 %}{% set photo = event.photosFeatured[0] %}https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_b.jpg{% endif %}{% endblock %}

{% block heroraw %}
    {% if not is_mobile %}{# Don't use the bandwidth #}
        <video class="video-background" preload muted autoplay loop>
            <source src="/assets/mp4/event-bg.mp4" type="video/mp4" />
        </video>
    {% endif %}
    <div class="wrap"><div class="wrap-inner">
        <article class="details">
            <span class="date">{{ event.starts_at|date('F j') }}-{{ event.ends_at|date('j') }}</span>
            <span class="time">{{ i18n('common.noon-noon') }}</span>
        </article>
        <article class="lead">
            <h2>{{ i18n('event.build', {'region': event.region_name}) }}</h2>
        </article>
        <span class="wistia_embed wistia_async_n6xc4pm90n popover=true popoverAnimateThumbnail=true popoverContent=link videoFoam=true" style="display:inline"><a href="#" class="video-play-link">&#xf196;</a></span>
        <article class="action">
            {% if event and event.registration_info.is_open and event.registration_info.remaining > 0 %}
                <a href="{{ langPrefix }}/{{ event.webname }}/register" class="register">
                    {% if event.registration_info.remaining < (event.registration_info.max * 0.10) %}
                        {{ i18n('event.cta-ticket-warn', {'remaining': event.registration_info.remaining}) }}
                    {% else %}
                        {{ i18n('event.cta-ticket-normal') }}
                    {% endif %}</a>
            {% elseif event and event.registration_info.is_open and event.registration_info.remaining == 0 %}
                <span class="sold-out">{{ i18n('event.cta-ticket-out')|raw }}</span>
            {% else %}
                <span class="notify-label">{{ i18n('event.cta-notify' ) }}</span>
                <form action="/{{ event.webname }}/notify" method="post" class="notify-signup">
                    <input type="email" name="email" id="email" placeholder="{{ i18n('common.email-sample') }}" />{#
                    #}<input type="submit" value="{{ i18n('event.notify-signup') }}">
                </form>
            {% endif %}
            {% if event.venue and event.registration_info.is_open and event.registration_info.remaining > 0 %}
                <span class="venue">{{ i18n('common.hosted-at', {'link': 'https://www.google.com/maps/place/'~(event.venue.full_address|url_encode), 'name': event.venue.name}) }}</span>
            {% endif %}

            {% if event.related_events %}
                <section class="nearby">
                    {% if event and event.registration_info.is_open and event.registration_info.remaining == 0 %}
                        <span class="sold-out-label">{{ i18n('event.cta-ticket-out-near') }}</span>
                    {% else %}
                        <span class="label">{{ i18n('event.nearby') }}</span>
                    {% endif %}
                    {% for related_event in event.related_events %}
                        <a href="{{ langPrefix }}/{{ related_event.webname }}" class="event">{{ related_event.region_name }}</a>
                    {% endfor %}
                </section>
            {% endif %}
        </article>
    </div></div>
{% endblock %}

{% block content %}
    <article class="what-is">
        <section class="details">
            <h3>{{ i18n('event.what-is') }}</h3>
            <p>{{ i18n('common.descr-detail-1') }}</p>
            <p>{{ i18n('common.descr-detail-2') }}</p>
        </section>
        <section class="picture">
            {% if event.photosFeatured|length > 0 %}
                <a href="/{{ event.webname }}/past">
                    <div class="slideshow">
                        {% for photo in event.photosFeatured|slice(0,12) %}
                            <div class="photo" style="background-image: url(https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_b.jpg)"></div>
                        {% endfor %}
                    </div>
                    {{ i18n('event.past-link', {'region': event.region_name}) }} &rarr;
                </a>
            {% elseif event.teams|length > 0 %}
                <a href="/{{ event.webname }}/past">
                    <img src="/assets/img/sf-az-team.jpg" />
                    {{ i18n('event.past-link', {'region': event.region_name}) }} &rarr;
                </a>
            {% else %}
                <img src="/assets/img/sf-az-team.jpg" />
            {% endif %}
        </section>
    </article>


    <article class="how-works">
        <h3>{{ i18n('event.how-works') }}</h3>
        <ul>
            <li>
                <img src="/assets/img/friends.jpg" alt="{{ i18n('event.how-works-alt-1') }}" title="{{ i18n('event.how-works-title-1') }}" />
                <span class="caption">{{ i18n('event.how-works-step-1') }}</span>
            </li>
            <li>
                <img src="/assets/img/pitch.jpg" alt="{{ i18n('event.how-works-alt-2') }}" title="{{ i18n('event.how-works-title-2') }}" />
                <span class="caption">{{ i18n('event.how-works-step-2') }}</span>
            </li>
            <li>
                <img src="/assets/img/workshops.jpg" alt="{{ i18n('event.how-works-alt-3') }}" title="{{ i18n('event.how-works-title-3') }}" />
                <span class="caption">{{ i18n('event.how-works-step-3') }}</span>
            </li>
            <li>
                <img src="/assets/img/code.jpg" alt="{{ i18n('event.how-works-alt-4') }}" title="{{ i18n('event.how-works-title-4') }}" />
                <span class="caption">{{ i18n('event.how-works-step-4') }}</span>
            </li>
        </ul>
    </article>

    <article class="faq">
        <h3>{{ i18n('common.faq') }}</h3>
        <ul>
            <li>
                <span class="q">{{ i18n('event.faq-team-q') }}</span>
                <p>{{ i18n('event.faq-team-a') }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-bring-q') }}</span>
                <p>{{ i18n('event.faq-bring-a') }}</p>
            </li>
            {% if event.loaners.available > 2 %}
                <li>
                    <span class="q">{{ i18n('event.faq-loaner-q') }}</span>
                    <p>{{ i18n('event.faq-loaner-a', {'available': event.loaners.available, 'total': event.loaners.total}) }}</p>
                </li>
            {% else %}
                <li>
                    <span class="q">{{ i18n('event.faq-song-q') }}</span>
                    <p>{{ i18n('event.faq-song-a') }}</p>
                    <audio controls><source src="/assets/mp3/codeday-song.mp3" type="audio/mpeg" /></audio>
                </li>
            {% endif %}
            <li>
                <span class="q">{{ i18n('event.faq-student-q') }}</span>
                <p>{{ i18n('event.faq-student-a') }}</p>
            </li>
            <li>
                <span class="q">{{ i18n('event.faq-school-q') }}</span>
                <p>{{ i18n('event.faq-school-a', {'link': langPrefix~'/'~event.webname~'/schools'}) }}</p>
            </li>
            <li class="ask">
                <span class="q">
                    {{ i18n('event.faq-search') }}
                    <input type="text" id="faq-search" name="faq-search" placeholder="{{ i18n('event.faq-example') }}" />
                </span>
                <div class="a">
                    <svg id="faq-spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                        <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 43 0 0 1 10 50" fill="#cb7972">
                            <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51.5;360 50 51.5" keyTimes="0;1" dur="1.2s" begin="0s" repeatCount="indefinite"></animateTransform>
                        </path>
                    </svg>
                    <p id="faq-a"></p>
                    <p id="faq-none">{{ i18n('event.faq-none') }}</p>
                </div>
            </li>
        </ul>
    </article>

    <article class="schedule">
        <h3>{{ i18n('event.schedule') }}</h3>
        {% for day,entries in event.schedule %}
            <section class="day">
                <div class="schedule">
                    <h4>{{ day }}</h4>
                    <ul>
                        {% for entry in entries %}
                            <li>
                                <span class="time">{{ entry.hour }}</span>
                                <span class="task {{ entry.type }}">
                                    {% if entry.url %}<a target="_blank" href="{{ entry.url }}">{% endif %}
                                    {{ entry.title }}
                                    {% if entry.url %}</a>{% endif %}
                                    {% if entry.description %}
                                        <span class="popup">{{ entry.description }}</span>
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endfor %}
    </article>

    <article class="sponsors">
        <h3>{{ i18n('event.supported-by') }}</h3>
        <ul>
            {% include "parts/national_sponsors.twig" %}
            {% for sponsor in event.sponsors %}
                <li>
                    {% if sponsor.url %}
                        <a href="{{ sponsor.url }}" title="{{ sponsor.name }}" target="_blank"><span style="background-image: url('{{ sponsor.logo }}');" title="{{ sponsor.name }}"></span></a>
                    {% else %}
                        <span style="background-image: url('{{ sponsor.logo }}');" title="{{ sponsor.name }}"></span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
{% block scripts %}
    {% include "parts/map.twig" %}
    <script src="/assets/js/jquery.slides.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".picture").each(function(){
                $(this).css('display', 'block');
                $(this).find('.slideshow').slidesjs({
                    height: (($(this).width())),
                    play: {
                        active: true,
                        effect: "fade",
                        auto: true,
                        interval: 7000,
                        swap: true,
                        restartDelay: 7000
                    }
                });
            });

            var faqSearchTimeout = null;
            var faqSearchRequest = null;
            $('#faq-search').on('keyup', function(){
                if (faqSearchRequest !== null) faqSearchRequest.abort();
                if (faqSearchTimeout !== null) clearTimeout(faqSearchTimeout);

                if ($('#faq-search').val() == '') {
                    $('#faq-a').text('');
                    $('#faq-spin').css('display', 'none');
                    $('#faq-none').css('display', 'none');
                    return;
                }

                $('#faq-a').text('');
                $('#faq-spin').css('display', 'block');
                $('#faq-none').css('display', 'none');
                faqSearchTimeout = setTimeout(function() {
                    faqSearchRequest = $.get('/faq?q='+$('#faq-search').val(), function(result){
                        faqSearchRequest = null;
                        faqSearchTimeout = null;

                        $('#faq-spin').css('display', 'none');
                        if (result == '') $('#faq-none').css('display', 'block');
                        $('#faq-a').html(result);
                    });
                }, 500);
            });
        });
    </script>
    <script src="//fast.wistia.com/embed/medias/n6xc4pm90n.jsonp" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"></div></div>
    <script type="text/javascript">
        window._wq = window._wq || [];
        _wq.push({ id: "n6xc4pm90n", onReady: function(video) {
            video.bind("play", function(){
                if ($('.video-background')) $('.video-background').get(0).pause();
            });
            video.bind("pause", function(){
                if ($('.video-background')) $('.video-background').get(0).play();
            });
            video.bind("end", function(){
                if ($('.video-background')) $('.video-background').get(0).play();
            });
        }});
    </script>
{% endblock %}
