{% extends "template.twig" %}
{% block section %}event{% endblock %}
{% block page %}photos{% endblock %}
{% block title %}Past Photos{% endblock %}
{% block content %}
    <h2>{{ i18n('event.past-photos-title', {'region': event.region_name }) }}</h2>
    <p><a href="/{{ event.webname }}">&laquo; {{ i18n('event.return') }}</a></p>
    <ul>
        {% for photo in event.photos %}
            <li><a href="https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_b.jpg" target="_blank">
                <img src="https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_q.jpg" />
            </a></li>
        {% endfor %}
    </ul>
{% endblock %}
