{% extends "template.twig" %}
{% block section %}event{% endblock %}
{% block page %}register{% endblock %}
{% block title %}{{ i18n('common.nav-register') }}{% endblock %}
{% block shortDescription %}Student registration is open for CodeDay {{ event.region_name }}, hosted at {{ event.venue.name }} on {{ event.starts_at|date('F j, Y') }}. Sign up now to learn about code and build something fun.{% endblock %}
{% block veryShortDescription %}CodeDay {{ event.region_name }}, {{ event.starts_at|date('F jS') }}{% endblock %}
{% block content %}
<form>
    <section class="info">
        <section class="event" data-remaining="{{ event.registration_info.remaining }}">
            <h3>{{ event.name }}</h3>
            {% if event.registration_info.remaining < (event.registration_info.max * 0.30) %}
                <p class="last-few">{{ i18n('register.warn-remaining', {'remaining': event.registration_info.remaining}) }}</p>
            {% elseif event.registration_info.is_earlybird_ending %}
                <p class="last-few">{{ i18n('register.warn-earlybird') }}</p>
            {% endif %}
            <div id="map"></div>
            <section class="address">
                <a href="https://www.google.com/maps/place/{{ event.venue.full_address|url_encode }}" target="_blank">
                    {{ event.venue.name }}<br />
                    {{ event.venue.address.line_1 }}<br />
                    {% if event.venue.address.line_2 %}
                        {{ event.venue.address.line_2 }}<br />
                    {% endif %}
                    {{ event.venue.address.city }}, {{ event.venue.address.state }} {{ event.venue.address.postal }}
                </a>
            </section>
            <section class="time">
                {{ event.starts_at|date('F j') }}-{{ event.ends_at|date('j') }}<br />
                {{ i18n('common.noon-noon') }}
            </section>
        </section>
        <section class="tos">
            <h4>{{ i18n('register.terms') }}</h4>
            <ul>
                <li>{{ i18n('register.term-1', {'link1': 'https://studentrnd.org/code-of-conduct', 'link2': langPrefix~'/rules'}) }}</li>
                <li>{% if (event.starts_at - (60*60*24*7)) > null|date('U') %}
                        {{ i18n('register.term-2-early', {'link': 'https://srnd.org/returns', 'time': ((event.starts_at - (60*60*24*7))|date('M j'))}) }}
                    {% else %}
                        {{ i18n('register.term-2-late', {'link': 'https://srnd.org/returns'}) }}
                    {% endif %}
                </li>
                <li>{{ i18n('register.term-3') }}</li>
                <li>{{ i18n('register.term-4', {'link': 'https://studentrnd.org/privacy'}) }}</li>
                <li><a href="/esignatures" target="_blank">{{ i18n('register.term-5') }}</a></li>
                <li>{{ i18n('register.term-6') }}</li>
            </ul>
            <a href="https://ssl.comodo.com/" target="_blank"><img src="https://codeday.org/assets/img/comodo-secure.png" /></a>
        </section>
    </section>

    <section class="registration">
        <h3>{{ i18n('register.attendee-head') }}</h3>
        <section class="attendee">
            <input type="text" name="first_name" placeholder="{{ i18n('common.fname-label') }}" value="" autocomplete="off" required />{#
            #}<input type="text" name="last_name" placeholder="{{ i18n('common.lname-label') }}" value="" autocomplete="off" required />
            <input type="email" name="email" placeholder="{{ i18n('common.email-label') }}" value="" autocomplete="off" required />
        </section>
        <span class="add-attendee">{{ i18n('register.add-attendee') }}</span>
        <span class="remove-attendee">{{ i18n('register.rm-attendee') }}</span>
    </section>

    <section class="payment" data-default-unit-price="{{ event.cost }}">
        <h3>{{ i18n('register.payment') }}</h3>
        <div class="card" data-stripe-pk="{{ event.stripe_public_key }}">
            <input id="card_number" placeholder="{{ i18n('common.card-label') }}" data-stripe="number" type="text" value="" autocomplete="off">
            <div class="exp">
                <label for="exp">EXP</label>
                <input id="exp" placeholder="MM/YYYY" type="text" pattern="\d{1,2} *\/ *\d{2,4}" autocomplete="off" >
            </div>
        </div>

        <a href="#" class="pay-btc" style="text-align: center; font-size: 0.7em; color: #AAA; display: inline-block; width: 100%; margin-bottom: 15px;">Pay with bitcoin instead</a>

        <section class="price">
            <section class="subtotal">
                <span class="label">Attendee (x1)</span><span class="amount">10.00</span>
            </section>
            <section class="discount">
                <span class="label">{{ i18n('register.discount-no') }}</span><span class="amount">0.00</span>
            </section>
            <section class="total">
                <span class="label">{{ i18n('register.total') }}</span><span class="amount">10.00</span>
                {% if event.is_early_bird_pricing %}
                    <span class="earlybird">{{ i18n('register.earlybird') }}</span>
                {% endif %}
            </section>
            <span class="promo link">{{ i18n('register.promo-ask') }}</span>
            <div class="promo-picker">
                <input type="text" name="promo" id="promo" placeholder="{{ i18n('register.promo-label') }}" />
                <button class="red-button">{{ i18n('common.apply') }}</button>
            </div>
        </section>
        <section class="finalize">
            <button class="pay" type="submit">{{ i18n('register.complete') }}</button>
            <div class="fb-messenger-checkbox"  
                origin="{{ site_base_url }}"
                page_id="{{ facebook_page_id }}"
                messenger_app_id="{{ facebook_app_id }}"
                user_ref="{{ userRef }}" 
                prechecked="true" 
                allow_login="true" 
                size="large"></div>
            <span><a href="mailto:contact@codeday.org">{{ i18n('register.scholarship-ask') }}</a></span>
            <span><a href="{{ langPrefix }}/{{ event.webname }}/register/schools">{{ i18n('register.school-ask') }}</a></span>
        </section>
    </section>
    <section class="success">
        <h3>{{ i18n('register.success-head') }}</h3>
        <p>{{ i18n('register.success-body') }}</p>
        {% include "share-widget.twig" %}
    </section>
</form>
{% endblock %}
{% block scripts %}
    {% include "parts/map.twig" %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.2/jquery.payment.min.js"></script>
    <script type="text/javascript">
        // ## Auto format the card number
        $('#card_number').payment('formatCardNumber');
        $('#exp').payment('formatCardExpiry');
    </script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '{{ facebook_app_id }}',
            xfbml      : true,
            version    : 'v2.6'
            });

        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk')
        );
    </script>
{% endblock %}
