{% extends "template.twig" %}
{% block section %}event{% endblock %}
{% block page %}register{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
    <section class="info">
        <section class="event">
            <h3>{{ event.name }}</h3>
            <div id="map"></div>
            <section class="time">
                {{ event.starts_at|date('F j') }}-{{ event.ends_at|date('j') }}<br />
                noon - noon
            </section>
            <section class="address">
                {{ event.venue.name }}<br />
                {{ event.venue.address.line_1 }}<br />
                {% if event.venue.address.line_2 %}
                    {{ event.venue.address.line_2 }}<br />
                {% endif %}
                {{ event.venue.address.city }}, {{ event.venue.address.state }} {{ event.venue.address.postal }}
            </section>
        </section>
    </section>

    <section class="registration">
        <h3>Attendees</h3>
        <section class="attendee">
            <input type="text" name="first_name" placeholder="First Name" />{#
            #}<input type="text" name="last_name" placeholder="Last Name" />
            <input type="email" name="email" placeholder="Email">
        </section>
        <span class="add-attendee">Add Another Attendee</span>
        <span class="remove-attendee">Remove Last</span>
    </section>

    <section class="payment" data-default-unit-price="{{ event.cost }}">
        <h3>Payment</h3>
        <div class="card" data-stripe-pk="{{ event.stripe_public_key }}">
            <input id="card_number" placeholder="Card Number" data-stripe="number" type="text">
            <div class="exp">
                <label for="exp">EXP</label>
                <input id="exp" placeholder="MM/YYYY" type="text">
            </div>
        </div>
        <section class="price">
            <section class="subtotal">
                <span class="label">Attendee (x1)</span><span class="amount">10.00</span>
            </section>
            <section class="discount">
                <span class="label">No discount</span><span class="amount">0.00</span>
            </section>
            <section class="total">
                <span class="label">Total</span><span class="amount">10.00</span>
            </section>
            <span class="promo link">Have a promo code?</span>
            <div class="promo-picker">
                <input type="text" name="promo" id="promo" placeholder="Code" />
                <button>Apply</button>
            </div>
        </section>
        <section class="finalize">
            <button class="pay">Complete Registration</button>
        </section>
    </section>
{% endblock %}
{% block scripts %}
    {% include "parts/map.twig" %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.2/jquery.payment.min.js"></script>
    <link rel="stylesheet" href="/assets/css/sweet-alert.css"/>
    <style>
        .sweet-alert, .sweet-alert * {
            box-sizing: content-box;
            -moz-box-sizing: content-box;
        }
    </style>
    <script type="text/javascript" src="/assets/js/sweet-alert.min.js"></script>
    <script type="text/javascript">
        // ## Auto format the card number
        $('#card_number').payment('formatCardNumber');
        $('#exp').payment('formatCardExpiry');
    </script>
{% endblock %}