{% extends "template.twig" %}
{% block section %}event{% endblock %}
{% block page %}school{% endblock %}
{% block title %}School Registration{% endblock %}
{% block shortDescription %}CodeDay inspires students to pursue STEM careers and is shown to increase enrollment in STEM courses. Schools and teachers can register students directly.{% endblock %}
{% block veryShortDescription %}School and teacher registration is available for CodeDay.{% endblock %}
{% block hero %}
    <article class="lead">
            <h2>Increasing diverse STEM enrollment.</h2>
            <p>CodeDay increases the diversity and number of students who register for Computer Science classes in 
               hundreds of schools across the world.</p>
    </article>
{% endblock %}
{% block content %}
    <article class="what-is">
        <section class="image">
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_n6xc4pm90n videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
            <span class="caption">Click play to watch a video about CodeDay.</span>
        </section>
        <section class="about">
            <h2>CodeDay gets students excited about Computer Science and drives enrollment.</h2>
            <p>At CodeDay, students pitch ideas for apps or games, then work in teams to create their projects over a
               weekend. At the end, students present to judges.</p>
            <p>75% of students register with little-to-no interest in Computer Science, but 71% of these students
               continue coding for months after the event, 65% register for a CS class, and 48% pursue a CS major in
               college <a href="https://srnd.org/education">(learn more).</a></p>
        </section>
    </article>
    <article class="quotes">
    <h2>We work with hundreds of schools and districts to increase CS enrollment.</h2>
    <div class="quote-block">
        <div class="quote">
            <blockquote>
                <p>[The Salinas Valley] is one of the 13 most dangerous cities in California... My goal is to expose my students to the vast opportunities that exist outside of our valley.</p>
                <p>Students entered their first CodeDay with no knowledge of what to expect. They were welcomed with open arms, provided with mentors, taught basic coding skills, and began to see themselves as capable of being part of this "world."</p>
            </blockquote>
            <div class="by">
                <div class="name">Summer Prather-Smith</div>
                <div class="title">Director, Monterey County Office of Education</div>
            </div>
        </div>
        <img src="https://srnd.org/assets/img/monterey-1.jpg">
    </div>
    </article>
    {% if event %}
        <article class="details">
            <h3>{{ event.starts_at|date('F j') }}-{{ event.ends_at|date('j') }}
                {% if event.venue and event.venue.name != "TBA" %}at {{ event.venue.name }}{% endif %}</h3> <br />
            <section class="map">
                {% if event.venue and event.venue.name != "TBA" %}
                    <div id="map"></div>
                {% else %}
                    <img src="/assets/img/codeday-team.jpg" />
                {% endif %}
            </section>
            <section class="details">
                <section class="address">
                    <h4>Address</h4>
                    {% if event.venue and event.venue.name != "TBA" %}
                        <a href="https://www.google.com/maps/place/{{ event.venue.full_address|url_encode }}" target="_blank">
                            {{ event.venue.name }}<br />
                            {{ event.venue.address.line_1 }}<br />
                            {% if event.venue.address.line_2 %}
                                {{ event.venue.address.line_2 }}<br />
                            {% endif %}
                            {{ event.venue.address.city }}, {{ event.venue.address.state }} {{ event.venue.address.postal }}
                        </a>
                    {% else %}
                        <p>TBA</p>
                    {% endif %}
                </section>
                <section class="time">
                    <h4>Time</h4>
                    {{ event.starts_at|date('F j') }}-{{ event.ends_at|date('j') }}<br />
                    {{ i18n('common.noon-noon') }}
                </section>
                <section class="cost">
                    <h4>Cost</h4>
                    $7 per student<br />
                    (Scholarships available)
                </section>
                <section class="register">
                    <a class="cta" href="/{{ event.webname }}/schools/register">Promotion Resources</a>
                    <a class="cta" href="/{{ event.webname }}/schools/register">Registration</a>
                </section>
                <section class="questions">
                    <p>Questions? Email <a href="mailto:schools@srnd.org">schools@srnd.org</a> or call 888-607-7763 ext 3.</p>
                </section>
            </section>
        </article>
    {% else %}
        <article class="register">
            <section class="form">
                <h2>Ready to register?</h2>
                <p><a href="mailto:schools@codeday.org">Contact us at schools@codeday.org</a> with any additional
                questions and to register. At minimum, we can reserve a number of spots for your students with only
                an estimate of expected attendance.</p>
                <p>To fully process your registration, you'll need to collect some information from all students who
                   will be attending, and submit this information as an Excel spreadsheet (or CSV).</p>
                <p><a href="/assets/roster.csv">For faster processing, please download and use this roster template when
                   submitting student data.</a></p>
            </section>
            <section class="info">
                <h2>Payment and Scholarships</h2>
                <p>We normally charge school groups $7 per attendee, which covers some of our costs in providing food. We
                   will send you an invoice for this after your registrations are processed. If this is a burden on your
                   school or students, you can request a scholarship on the form.</p>
            </section>
        </article>
    {% endif %}
    {% if event %}
        <article class="schedule">
            <h3>{{ i18n('event.schedule') }}</h3>
            {% for day,entries in event.schedule %}
                <section class="day">
                    <div class="schedule">
                        <h4>{{ day }}</h4>
                        <ul>
                            {% for entry in entries %}
                                <li>
                                    <span class="time">{{ entry.hour }}</span>
                                    <span class="task {{ entry.type }}">
                                        {% if entry.url %}<a target="_blank" href="{{ entry.url }}">{% endif %}
                                        {{ entry.title }}
                                        {% if entry.url %}</a>{% endif %}
                                        {% if entry.description %}
                                            <span class="popup">{{ entry.description }}</span>
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endfor %}
        </article>
    {% endif %}
    <article class="faq">
        <h3>FAQ</h3>
        <ul>
            <li>
                <span class="q">How safe is CodeDay?</span>
                <p>CodeDay is organized by srnd.org, a worldwide non-profit which has
                   run more than 350 CodeDays since 2011. It is held in a secured venue, and run by our
                   background-checked staff. Only students, staff, and teachers with IDs are allowed to remain after
                   the kickoff.</p>
            </li>
            <li>
                <span class="q">Do we register as a group or individually?</span>
                <p>You may either register as a group, or promote the event to students individually. Promotional
                   resources are available on the school registration page.</p>
            </li>
            <li>
                <span class="q">What are the prerequisites to attend?</span>
                <p>Students must be in middle school or older. Other than that, there really are no prerequisites!
                   CodeDay is one of the most beginner-friendly events available.</p>
            </li>
            <li>
                <span class="q">What will students learn?</span>
                <p>At the end of the event, students will be able to: work with a team to create specifications for a
                   project, search online for answers to technical problems, and program a complete and functioning
                   application or game.</p>
            </li>
            <li>
                <span class="q">Must teachers/chaperones attend?</span>
                <p>Chaperones or teachers are not required to attend, but are recommended for groups of more than 10
                   students. We will need to either conduct our own background check on attending chaperones, or
                   you will need to confirm that your school has performed them.</p>
            </li>
            <li>
                <span class="q">Does CodeDay comply with FERPA?</span>
                <p>Generally, yes: when students register as a group we collect only basic directory information.</p>
            </li>
        </ul>
        <a href="mailto:schools@codeday.org">More questions? Contact us!</a>
    </article>
{% endblock %}
{% block scripts %}
    {% include "parts/map.twig" %}
{% endblock %}
