{% set userRef = [] %}
{% for i in 1..20 %}
    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
    {% set alphaUpper = alpha|upper %}
    {% set numbers = '0123456789' %}
    {% set randomCharacter = random(alpha ~ alphaUpper ~ numbers ~ '-_') %}
    {% set userRef = userRef|merge([randomCharacter]) %}
{% endfor %}
{% set userRef = userRef|join %}

<!doctype html>
<html lang="en">
<head>
    {% set title = (block('title') ? block('title')~' ~ ' : '')~'CodeDay'~(event ? ' '~event.region_name : '') %}
    {% set shortDescription =
        "At CodeDay"~(event ? ' '~event.region_name : '')~", student programmers and artists build cool apps & games."
        ~" No experience is needed, and you can join alone or with friends." %}
    {% set veryShortDescription = "24 hours of worldwide fun."%}


    {% if block('shortDescription') %}{% set shortDescription = block('shortDescription') %}{% endif %}
    {% if block('veryShortDescription') %}{% set veryShortDescription = block('veryShortDescription') %}{% endif %}

    {# Meta #}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    {% if block('og_image') %}
        <meta property="og:image" content="{{ block('og_image') }}" />
    {% else %}
        <meta property="og:image" content="{{ url('/assets/img/og.jpg') }}" />
    {% endif %}

    <meta property="og:url" content="{% if nonLangUri ~ langPrefix == '//' %}{{ url('/') }}{% else %}{{ url(langPrefix~nonLangUri) }}{% endif %}" />
    <meta property="og:description" name="description" content="{{ shortDescription }}" />
    {{ block('meta') }}

    {# Style #}
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/assets/img/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/img/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/img/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="CodeDay"/>
    <meta name="msapplication-TileColor" content="#cb7972" />
    <meta name="msapplication-TileImage" content="/assets/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/assets/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/assets/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/assets/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/assets/img/icon/mstile-310x310.png" />
    {% if block('section') == "vip" %}
        <meta name="theme-color" content="#333333" />
    {% else %}
        <meta name="theme-color" content="#cb7972" />
    {% endif %}
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    {# Styling #}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/assets/css/style.css?v=092811000" />
    {% if event and event.custom_css %}
        <style type="text/css">
            {{ event.custom_css }}
        </style>
    {% endif %}

    {{ block('headscripts') }}
</head>
<body class="lang-{{lang}} {{ block('section') }} {{ block('page') }} {% if event.notice %}with-notice{% endif %}"
      data-api-base="{{ api_base_public }}" data-api-public="{{ api_access_token }}"
      {% if event %}data-event="{{ event.id }}"{% endif %}
      data-user-ref="{{ userRef }}"
      data-facebook-app-id="{{ facebook_app_id }}"
      data-facebook-page-id="{{ facebook_page_id }}"
      data-site-base-url="{{ site_base_url }}">
    {% if event.notice %}
        <div class="notice">
            {{ event.notice }}
        </div>
    {% else %}
        <div class="notice">
            <a href="https://virtual.codeday.org/" target="_blank">While COVID-19 is a concern, join us for a Virtual CodeDay at virtual.codeday.org</a>
        </div>
    {% endif %}

    {# Top Bar #}
    <header class="{% if block('hero') or block('heroraw') %}with-hero{% else %}no-hero{% endif %}{% if event.notice %} with-notice{% endif %}">
        <div class="wrap"><div class="wrap-inner">
            <section class="site-title">
                <h1><a href="https://codeday.org{{ langPrefix }}/">CodeDay{% if event %} {{ event.region_name }}{% endif %}{% if block('title') %}: {{ block('title') }}{% endif %}</a></h1>
                <a href="https://srnd.org/" target="_blank">{{ i18n('common.byline') }}</a>
            </section>

            {% block nav %}
            <nav>
                <ul>
                    {% if event %}
                        <li {% if block('section') == 'event' and block('page') == 'index' %}class="active"{% endif %}><a
                                    href="{{ langPrefix }}/{{ event.webname }}">{{ i18n('common.nav-event') }}</a></li>
                        {% if event and event.registration_info.is_open and event.registration_info.remaining > 0 %}
                            <li {% if block('page') == 'register' %}class="active"{% endif %}><a href="{{ langPrefix }}/{{ event.webname }}/register">{{ i18n('common.nav-register') }}</a></li>
                        {% endif %}
                        <li><a href="{{ langPrefix }}/{{ event.webname }}/schools">{{ i18n('common.nav-schools') }}</a></li>
                    {% endif %}
                    {% for link in event.special_links %}
                        {% if link.location == 'header' %}
                            <li><a href="{{ link.url }}"{% if link.new_window %} target="_blank"{% endif %}>{{ link.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="{{ langPrefix }}/press" target="_blank">{{ i18n('common.nav-press') }}</a></li>
                    {% if not event %}
                        <li><a href="{{ langPrefix }}/volunteer">{{ i18n('common.nav-volunteer') }}</a></li>
                        <li><a href="https://srnd.org/donate" target="_blank">{{ i18n('common.nav-donate') }}</a></li>
                    {% endif %}

                        <li>
                            <ul class="lang-switcher">
                                {% if langPrefix == '' %}{% set langPrefix = '/' %}{% endif %}
                                {% set langs = {"/es_MX": "mx", "/fr_CA": "fr", "/vi": "vi", "/tl": "tl", "/": "us", "/zh_CN": "cn", "/zh_TW": "tw"} %}
                                <li><span><img src="/assets/img/i18n-flags/{{ langs[langPrefix] }}.png" /></span></li>
                                {% for lang,flag in langs %}
                                    {% if lang != langPrefix %}
                                        <li><a href="{% if lang != '/' %}{{ lang }}{% else %}/en_US{% endif %}{{ nonLangUri }}"><img src="/assets/img/i18n-flags/{{ flag }}.png" /></a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if langPrefix == '/' %}{% set langPrefix = '' %}{% endif %}
                                <!--<li><span><img src="/assets/img/i18n-flags/emoji.png" /></span></li>-->
                            </ul>
                        </li>
                </ul>
            </nav>
            {% endblock %}
        </div></div>
    </header>

    {# Hero Section #}
    {% if block('hero') %}
        <section class="hero">
            <div class="wrap"><div class="wrap-inner">
                {{ block('hero') }}
            </div></div>
        </section>
    {% elseif block('heroraw') %}
        <section class="hero">
            {{ block('heroraw') }}
        </section>
    {% endif %}

    <div class="wrap">
        <section class="content">
            {{ block('content') }}
        </section>
    </div>

    {# Footer #}
    <footer><div class="wrap"><div class="wrap-inner">
        <span class="copyright">
            &copy; 2011-{{ null|date('Y') }} <a href="https://srnd.org/">SRND</a>.<br />
            {{ i18n('common.footer-trademark', {'link': 'https://srnd.org/trademarks'}) }} Google Play and the Google Play logo are trademarks of Google LLC.
        </span>
        <span class="contact">
            <a href="mailto:codeday@srnd.org">codeday@srnd.org</a><br />
            <a href="tel:1882633230">(888) CODE-230</a><br />
            <a href="https://www.srnd.org/privacy" target="_blank">Privacy &amp; Cookies</a><br />
            <a href="https://www.srnd.org/privacy/controls" target="_blank">Do Not Sell My Personal Information</a>
        </span>
    </div></div></footer>

    {# Scripts #}
    <script src="https://use.typekit.net/wck5lid.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/sweet-alert.min.js"></script>
    {#<script src="http://d.codeday.dev/resources/dart/web/main.dart" type="application/dart"></script>#}
    <script src="/assets/js/app.js?v3"></script>
    <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
    <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.codeday.org"]);
    _paq.push(["setDomains", ["*.codeday.org","*.codeday.ca","*.codeday.es","*.codeday.vip"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//data.srnd.org/";
        _paq.push(['setTrackerUrl', u+'ping.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <script>
        window.sid = window.sid || []; var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.defer=true; g.src='//f1.srnd.org/sid.js'; s.parentNode.insertBefore(g,s);
        {% if ticket %}
            sid.push(['set', '{{ ticket.identjwt }}', function() {}]);
        {% endif %}

        {% set cdate = (null|date('U')) + (60*60*36) %}
        {% if client_ip != "209.175.44.38" %}
            {% if not (event and event.starts_at > cdate and event.registration_info.is_open) %}
                window.ChatraSetup = {
                    startHidden: true
                };
            {% endif %}
            (function(d, w, c) {
                w.ChatraID = '5wsfeENwi3WqHrn3n';
                var s = d.createElement('script');
                w[c] = w[c] || function() {
                    (w[c].q = w[c].q || []).push(arguments);
                };
                s.async = true;
                s.src = 'https://call.chatra.io/chatra.js';
                if (d.head) d.head.appendChild(s);
            })(document, window, 'Chatra');
        {% endif %}

    </script>
    {{ block('scripts') }}
</body>
</html>
