<!doctype html>
<html lang="en">
<head>
    {% set title = (block('title') ? block('title')~' ~ ' : '')~'CodeDay'~(event ? ' '~event.region_name : '') %}
    {% set shortDescription =
        (loaded_batch.events|length)~" cities. 24 hours of fun. At CodeDay, student programmers and artists get "
        ~"together, build cool apps & games, and have a lot of fun. All in 24 hours. No experience is required, and "
        ~"you can attend alone or with a friend." %}
    {% set veryShortDescription = (loaded_batch.events|length)~" cities. 24 hours of fun."%}

    {# Meta #}
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />

    <meta property="og:image" content="{{ url('/assets/img/og.jpg') }}" />
    <meta property="og:url" content="{{ url('') }}" />
    <meta property="og:description" name="description" content="{{ shortDescription }}" />

    {# Styling #}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body class="{{ block('section') }} {{ block('page') }}"
      data-api-base="{{ api_base_public }}" data-api-public="{{ api_access_token }}"
      {% if event %}data-event="{{ event.id }}"{% endif %}>
    {# Top Bar #}
    <header class="{% if block('hero') %}with-hero{% else %}no-hero{% endif %}">
        <div class="wrap"><div class="wrap-inner">
            <section class="site-title">
                <h1><a href="/">CodeDay</a></h1>
                <a href="https://studentrnd.org/" target="_blank">by StudentRND</a>
            </section>

            <nav>
                <ul>
                    {% if event %}
                        <li {% if block('section') == 'event' and block('page') == 'index' %}class="active"{% endif %}><a
                                    href="/{{ event.webname }}">Event Info</a></li>
                        {% if event and event.registration_info.is_open and event.registration_info.remaining > 0 %}
                            <li {% if block('page') == 'register' %}class="active"{% endif %}><a href="/{{ event.webname }}/register">Register</a></li>
                        {% endif %}
                    {% endif %}
                    {% set skipSponsor = false %}
                    {% for link in event.special_links %}
                        {% if link.location == 'header' %}
                            {% if link.name == 'Sponsor' %}
                                {% set skipSponsor = true %}
                            {% endif %}
                            <li><a href="{{ link.url }}"{% if link.new_window %} target="_blank"{% endif %}>{{ link.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if not skipSponsor %}
                        <li {% if block('section') == 'sponsor' %}class="active"{% endif %}"><a href="/sponsor">Sponsor</a></li>
                    {% endif %}
                    <li><a href="/press" target="_blank">Press Kit</a></li>
                </ul>
            </nav>
        </div></div>
    </header>

    {# Hero Section #}
    {% if block('hero') %}
        <section class="hero">
            <div class="wrap"><div class="wrap-inner">
                {{ block('hero') }}
            </div></div>
        </section>
    {% endif %}

    <div class="wrap">
        <section class="content">
            {{ block('content') }}
        </section>
    </div>

    {# Footer #}
    <footer><div class="wrap"><div class="wrap-inner">
        <span class="copyright">
            &copy; 2011-2015 <a href="https://studentrnd.org/">StudentRND</a>.<br />
            CodeDay and the CodeDay logo are trademarks of StudentRND.
        </span>
        <span class="contact">
            <a href="mailto:contact@codeday.org">contact@codeday.org</a><br />
            <a href="tel:1882633230">(888) CODE-230</a>
        </span>
    </div></div></footer>

    {# Scripts #}
    <script src="https://use.typekit.net/wck5lid.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {{ block('scripts') }}
    <script src="http://d.codeday.dev/resources/dart/web/main.dart" type="application/dart"></script>
    {#<script src="/assets/js/app.js"></script>#}
</body>
</html>