<!-- dark green 8EBC75 -->
<!-- medium green A0D388 -->
<!-- light green B5E59C -->


<section id="sponsors">

	<h2 class="section-title text-center">Sponsors</h2>

	<a title="Splunk" target="_blank" href="https://splunk.com/" class="medium-4 small-12 current-sponsor sponsor-splunk"><div class="sponsor-image"></div></a>
	<a title="Intellectual Ventures" target="_blank" href="http://eureka.intven.com/" class="medium-4 small-12 current-sponsor sponsor-intellectualventures"><div class="sponsor-image"></div></a>
	<a title="LexisNexis Risk Solutions" target="_blank" href="http://www.lexisnexis.com/risk/" class="medium-4 small-12 current-sponsor sponsor-lexisnexis"><div class="sponsor-image"></div></a>

    {% for sponsor in event.sponsors %}
        {% if sponsor.url %}
            <a href="{{ sponsor.url }}" title="{{ sponsor.name }}" target="_blank" class="medium-4 small-12 current-sponsor"><div class="sponsor-image" style="background-image: url('{{ sponsor.logo }}');"></div></a>
	    {% else %}
            <div title="{{ sponsor.name }}" class="medium-4 small-12 current-sponsor"><div class="sponsor-image" style="background-image: url('{{ sponsor.logo }}');"></div></div>
        {% endif %}
    {% endfor %}
</section>