{% extends "vip/ticket-template.twig" %}
{% block subpage %}ticket{% endblock %}
{% block next %}
    <section class="survey">
        <div id="wufoo-{{ id }}">
        Fill out the <a href="https://srnd.wufoo.com/forms/{{ id }}">form</a>.
        </div>

        <script type="text/javascript">var {{ id }};(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'srnd',
        'formHash':'{{ id }}',
        'autoResize':true,
        'height':'1072',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'defaultValues': 'Field4={{ ticket.id }}&Field5={{ ticket.event.webname }}',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { {{ id }} = new WufooForm();{{ id }}.initialize(options);{{ id }}.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
    </section>
{% endblock %}
