{% extends "vip/ticket-template.twig" %}
{% block subpage %}ticket{% endblock %}
{% block next %}
    <div class="cognito">
        <script src="https://services.cognitoforms.com/s/7hYXr3TPxk6yIpJxjqVoFQ"></script>
        <script>Cognito.load("forms", { id: "{{ id|escape('js') }}", entry: {Ticket: "{{ ticket.id|escape('js') }}", Region: "{{ ticket.event.webname|escape('js')}}", Season: "{{ ticket.event.batch.name|escape('js') }}", Email: "{{ ticket.email|escape('js') }}", Type: "{{ ticket.type|escape('js') }}", Manager: "{{ ticket.event.manager.username|escape('js') }}"} });</script>
    </div>
{% endblock %}
