{% extends "vip/ticket-template.twig" %}
{% block subpage %}ticket{% endblock %}
{% block next %}
    {% if ticket.type == 'student' or ticket.type == 'volunteer' %}
        <section class="actions">
            <h3>What's Next?</h3>
            <ul>
                {% set parent_done = ticket.parent_email or ticket.parent_information_exempt %}
                {% set waiver_done = ticket.waiver_pdf %}
                <li><a href="/{{ ticket.id }}/parent" class="parent {% if parent_done %}done{% endif %}"><span class="icon"></span><span class="label">Parent Info</span></a></li>
                <li><a href="{% if waiver_done %}{{ ticket.waiver_pdf }}{% elseif parent_done %}/{{ ticket.id }}/waiver{% else %}#{% endif %}" class="waiver {% if waiver_done %}done{% endif %}"><span class="icon"></span><span class="label">Waiver</span></a></li>
                {% if ticket.event.ends_at < (null | date('U')) %}
                    <li><a href="/{{ ticket.id }}/feedback" class="survey"><span class="icon"></span><span class="label">Feedback</span></a></li>
                    <li><a href="/{{ ticket.id }}/certificate" class="certificate"><span class="icon"></span><span class="label">Certificate</span></a></li>
                {% else %}
                    {% if ticket.event.venue_agreement %}
                        <li><a href="/{{ ticket.id }}/venue" class="venue-agreement {% if not waiver_done %}waiting{% endif %}"><span class="icon"></span><span class="label">Venue Info</span></a></li>
                    {% endif %}
                    <li><a href="/{{ ticket.id }}/survey" class="survey {% if not waiver_done %}waiting{% endif %}"><span class="icon"></span><span class="label">Survey</span></a></li>
                {% endif %}
            </ul>
        </section>
    {% endif %}
    <section class="letter">
        <p>{{ ticket.first_name }},</p>
        {% if ticket.type == 'teacher' %}
            <p>All of us at srnd.org just wanted to say &ldquo;thank you&rdquo; for registering for CodeDay!</p>
            <p>We created CodeDay to bring students together for a weekend of coding and fun with new friends and, in the
               long-term, to inspire students to continue programming. It means a lot when educators like you take part.</p>
            <p>Please let me know if you have any thoughts. I can be reached at tylermenezes@srnd.org.</p>
        {% elseif ticket.type == 'judge' or ticket.type == 'volunteer' or ticket.type == 'mentor' or ticket.type == 'sponsor' %}
            <p>All of us at srnd.org just wanted to say &ldquo;thank you&rdquo; for helping with CodeDay!</p>
            <p>We created CodeDay to bring students together for a weekend of coding and fun with new friends and, in the
               long-term, to inspire students to continue programming. We can only do that thanks to the support of people
               like you.</p>
        {% elseif ticket.type == 'vip' %}
            <p>I just wanted to take a moment to welcome you to our community.</p>
            <p>We created CodeDay to bring students together for a weekend of coding and fun with new friends and, in the
               long-term, to inspire students to continue programming. It means a lot when people like you take part.</p>
            <p>After you see what CodeDay is about, please let me know if you have any thoughts. I can be reached at
               tylermenezes@srnd.org.</p>
        {% elseif ticket.type == 'press' %}
            <p>I just wanted to take a moment to thank you for attending CodeDay!</p>
            <p>CodeDay is a 24-hour programming event for students across the state. We created
               CodeDay to bring students together for a weekend of coding and fun with new friends and, in the
               long-term, to inspire students to continue programming. In just a few short years it's grown to over 40 cities
               and tens of thousands of students.</p>
            <p>If you have any questions, please contact me at (206) 739-4741. Thanks.</p>
        {% else %}
            <p>All of us at srnd.org just wanted to take a second to say &ldquo;thank you&rdquo; for attending CodeDay!</p>
            <p>CodeDay is an event about connecting the community. Whether you've never written a line of code in your life,
               or you've got hundreds of stars on Github, meeting the community can be a little scary.</p>
            <p>So if you're new here, thanks for giving it a shot! And if you've been here before, thanks for helping welcome
               others. We're excited to see you on {{ ticket.event.starts_at|date('F j') }}.</p>
        {% endif %}
        <p>Best,<br />
           <img src="/assets/img/tyler-sig.png" /><br />
           Tyler Menezes<br />
           Executive Director<br />
           srnd.org</p>
    </section>
{% endblock %}
