{% extends "template.twig" %}
{% block section %}vip{% endblock %}
{% block page %}waiver{% endblock %}
{% block title %}Manage Your CodeDay Ticket{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
{% block nav %}<nav><ul><li><a href="/{{ ticket.id }}">{{ ticket.name }}</a></li></ul></nav>{% endblock %}
{% block content %}
    <section class="waiver" id="waiver">
        {% if ticket.is_minor %}
            <h2>This waiver must be signed by the parent or legal guardian of {{ ticket.name }}:</h2>
        {% else %}
            <h2>Please read and e-sign this waiver (by signing you certify you are not a minor):</h2>
        {% endif %}
        <style>
            @import url("https://srnd.org/assets/fonts/avenir-next.css");
            .page {
                width: 720pt;
                padding: 0.5in;
                background-color: $color-white;
                border: 1px solid gray;
                font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
            }
            .page, .page p, .page li, .page blockquote, .page strong, .page h1, .page h2 {
                font-size: 12pt;
                line-height: 18pt;
            }
            .page h2 {
                font-weight: 700;
                margin-top: 3rem;
            }
            .page strong {
                font-weight: 600;
            }
            .page header img {
                float: left;
                width: 50pt;
                height auto;
            }
            .page header h1 {
                float: left;
                padding-left: 2rem;
                font-weight: 700;
                margin-top: 0.2em;
            }
            .page header:after {
                content: "";
                display: block;
                clear: both;
            }
            .c-forms-heading {
                display: none !important;
            }
            .c-forms-form label, .c-forms-form input[type="text"], .c-content {
                font-family: 'Avenir Next', Helvetica, Arial, sans-serif !important;
                font-size: 12pt !important;
                font-weight: 500;
            }
            .c-forms-form input[type="text"], .c-content {
                border-bottom: 1pt solid #ccc !important;
                font-style: italic !important;
            }
            .c-text-singleline input {
                position: relative;
                top: -17pt;
            }
            .c-calculation-singleline .c-content {
                position: relative;
                top: -9pt;
            }
            .c-text-singleline label, .c-calculation-singleline label {
                position: relative;
                top: 26pt
            }
            .c-label:after {
                display: none !important;
            }
            .c-signature .c-editor {
                position: relative;
                top: -14pt;
            }
            .c-signature label {
                position: relative;
                top: 100pt;
                z-index: 100;
            }
            .cognito > div {
                width: 0;
                height: 0;
                overflow: hidden;
            }
        </style>
        <div class="page" style="display:none">
            <header>
                <img src="/assets/img/srnd_logo.svg" />
                <h1>PARTICIPANT AGREEMENT, WAIVER, and RELEASE of LIABILITY</h1>
            </header>
            {{ waiver_content|raw }}
            <div class="cognito">
                <script src="/cognito.js"></script>
                <script>Cognito.load("forms", { id: "5", entry: {
                    "Ticket": "{{ ticket.id|escape('js') }}",
                    "ParticipantName": "{{ ticket.name|escape('js') }}",
                    "Minor": "{% if ticket.is_minor %}yes{% else %}no{% endif %}",
                    "EventName": "CodeDay",
                    "SignerEmail": "{% if ticket.is_minor %}{{ ticket.parent_email|escape("js") }}{% else %}{{ ticket.email|escape("js") }}{% endif %}",
                    {% if ticket.is_minor %}
                        "Relationship": "Parent",
                    {% endif %}
                }}, {
                    success: function() {
                        document.querySelector(".page").style.display = "block";
                        ExoJQuery(function() {
                            ExoJQuery(document).on('afterSubmit.cognito', function(data) {
                                document.querySelector(".page").style.display = "none";
                                document.querySelector(".waiver > h2").style.display = "none";
                                document.querySelector(".alternative").style.display = "none";
                                document.querySelector(".success").style.display = "block";
                                // The waiver takes a few seconds to post to Clear.
                                setTimeout(function(){
                                    window.location = '/{{ ticket.id|escape('js') }}';
                                }, 7000);
                            });
                        });
                    }
                });</script>
            </div>
        </div>
        <div class="alternative">
            <p>If you have any problems signing your waiver, please disable any ad-blockers. If you still have problems, you can
                <a href="https://srnd-cdn.net/codeday/waiver-{%if not ticket.is_minor %}non{% endif %}minor.pdf" target="_blank">print and sign your waiver.</a></p>
        </div>
        <div class="success" style="display: none">
            <p><img src="/assets/img/spinner.gif" /></p>
            <p><strong><em>Finalizing your waiver. This will take about five seconds.</em></strong></p>
            <p>You will be able to download your completed waiver from your ticket page, and we will email you a copy.<p>
        </div>
    </section>
{% endblock %}
