{% extends "template.twig" %}
{% block title %}Register{% endblock %}
{% block page %}register{% endblock %}
{% block content %}
    <main class="row wrapper-column">

        <div class="columns medium-6">

            <div class="register-box round-corners">
                <h2>CodeDay {{ event.name }}</h2>
                <div class="register-map" id="location-map"></div>
                <p class="register-host">{{ event.venue.name }}</p>
                <p class="register-address">{{ event.venue.full_address }}</p>
                <p class="register-date">{{ event.starts_at|date('F j') }}-{{event.ends_at|date('j, Y') }}; noon-noon</p>
            </div>

            <div class="register-box round-corners" id="purchase-info-box">
                <h2>Purchase Info</h2>
                <span class="ticket-type">Student</span>
                <span class="ticket-price">
                    {% if event.is_early_bird_pricing %}
                        <em style="text-decoration: line-through">$20</em>
                        $10 (Early-bird)
                    {% else %}
                        $20
                    {% endif %}
                </span>
                <span class="dropdown">
				<select id="ticket-amount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select></span>
                <div class="text-right">
                    <span id="text-total" class="text-center">Total</span>
                    <span id="total-cost" class="text-center">$10</span>
                </div>
                <input type="text" id="promo-code" name="promo-code" placeholder="Enter Promotional Code"><!--
                --><a href="#" id="promo-code-button" class="text-center">Apply</a>
            </div>

        </div>

        <div class="columns medium-6">
            <div id="coder-profile-1" class="register-box round-corners coder-profile">
                <h2 class="coder-profile-title">Attendee Info</h2>
                <input type="text" class="first-name" name="first-name" placeholder="First Name"><!--
					--><input type="text" class="last-name" name="last-name" placeholder="Last Name">
                <input type="text" class="email" name="email" placeholder="Email">
            </div>
            <div id="billing-info" class="register-box round-corners">
                <h2>Billing</h2>
                <input type="text" id="credit-num" name="credit-num" placeholder="Credit Card Number"><!--
					--><input type="text" id="csc" name="csc" placeholder="CSC" maxlength="3"><!--
					--><span id="expir-date">Expiration Date</span><!--
					--><input type="text" id="mm" name="mm" placeholder="mm" maxlength="2"><!--
					--><span> /</span><!--
                    --><input type="text" id="yy" name="yy" placeholder="yy" maxlength="2">
            </div>

            <a href="" id="pay-button" class="round-corners text-center">Pay Now</a>

            <p id="toa">By registering, I have read and agree with the <a href="">code of conduct</a>, understand that my name and email may be shared with sponsors, and agree to have my photo or video taken during the event.</p>

        </div>

    </main>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVggXa9btjGmzqgUim-1HjmnMtbF3UNms&sensor=false&libraries=visualization"></script>
    <script type="text/javascript">
        window.unit_cost = {{ event.cost }};
        function initialize() {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                'address': '{{ event.venue.full_address|escape('js') }}'
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var mapElem = document.getElementById('location-map');
                    var styles = [{"stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#ced8df"}]},{"featureType":"road.arterial","elementType": "geometry.fill","stylers":[{"visibility":"on"},{"color":"#F1C40F"}]},{"featureType":"road.highway","elementType": "geometry.fill","stylers":[{"visibility":"on"},{"color":"#F1C40F"}]},{"featureType":"landscape","stylers":[{"visibility":"on"},{"color":"#f3f4f4"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#9bcae9"}]},{},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#7ad1bf"}]},{"elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"weight":0.9},{"visibility":"on"}]}];
                    var map = new google.maps.Map(mapElem, {
                        zoom: 14,
                        center: results[0].geometry.location,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        disableDefaultUI: true,
                        scrollwheel: false,
                        mapTypeControl:false,
                        styles: styles
                    });

                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    google.maps.event.addListener(marker, "click", function() {
                        window.open('https://www.google.com/maps/search/{{ loaded_event.venue.address_url|escape('url') }}');
                    });
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        $('#promo-code-button').on('click', function(e) {
            e.preventDefault();

            if ($('#promo-code').prop('disabled') || $('#promo-code-button').text() == '...') {
                return;
            }

            $('#promo-code-button').text('...');

            $.ajax({
                url: "https://clear.codeday.org/api/register/{{ event.id }}/promotion",
                type: "GET",
                dataType: "json",
                data: {
                    code: $('#promo-code').val()
                },
                success: function(data){
                    if (data.expired) {
                        alert("Code is expired.");
                        $('#promo-code-button').text('Apply');
                        $('#promo-code').val('');
                        return;
                    } else if (data.remaining_uses == 0) {
                        alert("Code has already been used.");
                        $('#promo-code-button').text('Apply');
                        $('#promo-code').val('');
                        return;
                    }

                    if (data.remaining_uses != null && data.remaining_uses < 10) {
                        console.log(data.remaining_uses);
                        $('#ticket-amount option').filter(function() {
                            return parseInt($(this).val(), 10) > data.remaining_uses;
                        }).remove();
                    }

                    if (data.cost == 0) {
                        $('#billing-info').css('display', 'none');
                        $('#billing-info input').val('');
                        $('#pay-button').text('Register Now');
                    }

                    $('#promo-code').prop('disabled', true);
                    $('#promo-code-button').text('Applied');
                    window.unit_cost = data.cost;
                    $('.ticket-price').html('<em style="text-decoration: line-through">$20</em> $'+data.cost);
                    $('#ticket-amount option').trigger('change');
                },
                error: function(){
                    alert("Code is invalid.");
                    $('#promo-code-button').text('Apply');
                    $('#promo-code').val('');
                }
            });

            return false;
        })

        Stripe.setPublishableKey('{{ event.stripe_public_key|escape('js') }}');
        $('#pay-button').click(function(e){
            e.preventDefault();

            if ($('#pay-button').text() == '...') {
                return;
            }

            $('#pay-button').text('...');

            if ($('.coder-profile input').filter(function(){return $(this).val() == ''}).length > 0) {
                $('#pay-button').text(window.quoted_price > 0 ? 'Pay Now' : 'Register Now');
                alert('Please fill out all fields.');
                return;
            }

            var allVals = function(elems) { var vals = []; elems.each(function(){ vals.push($(this).val()) }); return vals; }

            var register = function(token) {

                $.ajax({
                    url: "https://clear.codeday.org/api/register/{{ event.id }}/register",
                    type: "POST",
                    dataType: "json",
                    data: {
                        card_token: token,
                        quoted_price: window.quoted_price,
                        first_names: allVals($('.first-name')),
                        last_names: allVals($('.last-name')),
                        emails: allVals($('.email')),
                        code: $('#promo-code').val()
                    },
                    success: function(data) {
                        if (data.status == 200) {
                            $('#purchase-info-box, .coder-profile, #pay-button, #billing-info').css('display', 'none');
                            $('#toa').css('padding-top', '2rem')
                                    .html("Thanks for registering! A receipt has been emailed to you. We look forward to seeing you at CodeDay. If you have any questions, please <a href='mailto:contact@studentrnd.org'>email us</a>.");
                        } else {
                            alert(data.message);
                            $('#pay-button').text(window.quoted_price > 0 ? 'Pay Now' : 'Register Now');
                        }
                    },
                    error: function(data) {
                        alert('Your card was declined.');
                        $('#pay-button').text(window.quoted_price > 0 ? 'Pay Now' : 'Register Now');
                    }
                });
            };

            if (unit_cost == 0) {
                register(null);
            } else {
                Stripe.card.createToken({
                    number: $('#credit-num').val(),
                    cvc: $('#csc').val(),
                    exp_month: $('#mm').val(),
                    exp_year: $('#yy').val()
                },
                function(status, response) {
                    if (response.error) {
                        alert(response.error.message);
                        $('#pay-button').text(window.quoted_price > 0 ? 'Pay Now' : 'Register Now');
                    } else {
                        var token = response.id;
                        register(token);
                    }
                });
            }

            return false;
        });
    </script>
{% endblock %}
