{% extends "template.twig" %}
{% block title %}Register{% endblock %}
{% block page %}register{% endblock %}
{% block content %}
    <main class="row wrapper-column">

        <div class="columns medium-6">

            <div class="register-box round-corners">
                <h2>CodeDay {{ event.name }}</h2>
                <div class="register-map" id="location-map"></div>
                <p class="register-host">{{ event.venue.name }}</p>
                <p class="register-address">{{ event.venue.full_address }}</p>
                <p class="register-date">{{ event.starts_at|date('F j') }}-{{event.ends_at|date('j, Y') }}; noon-noon</p>
            </div>

            <div class="register-box round-corners">
                <h2>Purchase Info</h2>
                <span class="ticket-type">Student</span><!--
				--><span class="ticket-price">$10 (Early Bird 50% Off)</span><!--
				--><span class="dropdown">
				<select id="ticket-amount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select></span>
                <div class="text-right">
                    <span id="text-total" class="text-center">Total</span>
                    <span id="total-cost" class="text-center">$10</span>
                </div>
                <input type="text" id="promo-code" name="promo-code" placeholder="Enter Promotional Code"><!--
                --><a href="" id="promo-code-button" class="text-center">Apply</a>
            </div>

        </div>

        <div class="columns medium-6">
            <div id="coder-profile-1" class="register-box round-corners coder-profile">
                <form action="" method="post" autocomplete="off">
                    <h2 class="coder-profile-title">Attendee</h2>
                    <input type="text" class="first-name" name="first-name" placeholder="First Name"><!--
					--><input type="text" class="last-name" name="last-name" placeholder="Last Name"><!--
					--><input type="text" class="age" name="age" placeholder="Age" maxlength="2"><!--
					--><input type="text" class="email" name="email" placeholder="Email"><!--
					--><input type="text" class="confirm-email" name="confirm-email" placeholder="Confirm Email">
                    <input type="checkbox" id="subscribe1" class="register-checkbox" name="subscribe1" value="subscribe" checked><label for="subscribe1">I’d like to recieve info from sponsors</label>
                </form>
            </div>
            <div class="register-box round-corners">
                <form id="billing-info" action="" method="post" autocomplete="off">
                    <h2>Billing</h2>
                    <input type="text" id="credit-num" name="credit-num" placeholder="Credit Card Number"><!--
					--><input type="text" id="csc" name="csc" placeholder="CSC" maxlength="3"><!--
					--><span id="expir-date">Expiration Date</span><!--
					--><input type="text" id="mm" name="mm" placeholder="mm" maxlength="2"><!--
					--><span> /</span><!-- 
                    --><input type="text" id="yy" name="yy" placeholder="yy" maxlength="2">
                </form>
            </div>

            <a href="" id="pay-button" class="round-corners text-center">Pay Now</a>

            <p id="toa">By clicking “Pay Now”, I have read and agree with the <a href="">CodeDay terms of service</a>, <a href="">CodeDay code of conduct</a>, and possibly getting my picture taken during the event.</p>

        </div>

    </main>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVggXa9btjGmzqgUim-1HjmnMtbF3UNms&sensor=false&libraries=visualization"></script>
    <script type="text/javascript">
        function initialize() {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                'address': '{{ event.venue.full_address|escape('js') }}'
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var mapElem = document.getElementById('location-map');
                    var styles = [{"stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#ced8df"}]},{"featureType":"road.arterial","elementType": "geometry.fill","stylers":[{"visibility":"on"},{"color":"#F1C40F"}]},{"featureType":"road.highway","elementType": "geometry.fill","stylers":[{"visibility":"on"},{"color":"#F1C40F"}]},{"featureType":"landscape","stylers":[{"visibility":"on"},{"color":"#f3f4f4"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#9bcae9"}]},{},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#7ad1bf"}]},{"elementType":"labels","stylers":[{"visibility":"on"}]},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"weight":0.9},{"visibility":"on"}]}];
                    var map = new google.maps.Map(mapElem, {
                        zoom: 14,
                        center: results[0].geometry.location,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        disableDefaultUI: true,
                        scrollwheel: false,
                        mapTypeControl:false,
                        styles: styles
                    });

                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    google.maps.event.addListener(marker, "click", function() {
                        window.open('https://www.google.com/maps/search/{{ loaded_event.venue.address_url|escape('url') }}');
                    });
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
