<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if block('title') %}
            {{ block('title') }} |
        {% endif %}
        CodeDay
    </title>
    <meta name="description" content="CodeDay Spring 2014. May 24th-25th, noon-noon. Build something awesome in 24 hours! share tweet. Join 2,000+ students at CodeDay in a city near you!">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
</head>
<body>

{% if block('splash') %}
    {{ block('splash') }}
{% endif %}

{% if block('splash') %}
    <div id="over">
{% else %}
    <div id="{{ block('page') }}-page" class="subpage">
        {# Mobile nav #}
        <header class="header-subpage header-mobile hide-for-medium-up">
            <nav class="site-nav text-right">
                <ul>
                    {% include "parts/navigation.twig" %}
                </ul>
            </nav>
            <div class="row">
                <h1 class="site-title left"><a href="/">CodeDay</a></h1>
                <a href="#" id="nav-button" class="right">Menu</a>
            </div>
            <h1 class="subpage-title text-center">Sponsor</h1>
        </header>

        {# Regular Nav #}
        <header class="header-subpage header-large hide-for-small-only">
            <div class="row">
                <div class="column large-3 small-3">
                    <h1 class="site-title"><a href="/">CodeDay</a></h1>
                </div>
                <div class="column large-9 small-9">
                    <nav class="site-nav text-right">
                        <a href="#" id="nav-button" class="right">Menu</a>
                        <ul>
                            {% include "parts/navigation.twig" %}
                        </ul>
                    </nav>
                </div>
            </div>
            <h1 class="subpage-title text-center">{{ block('title') }}</h1>
        </header>
{% endif %}

    {{ block('content') }}

    <footer id="site-footer">
        <div class="row">
            <div class="columns medium-5 text-left">
                <p>Organized in Seattle by <a href="https://studentrnd.org/" class="studentrnd">StudentRND</a>.</p>
                <p class="copyright">&copy; <?php echo date("Y") ?> CodeDay. All rights reserved.</p>
            </div>
            <div class="columns medium-7 hide-for-small-only">
                <nav class="site-nav text-right row">
                    <ul>
                        <li><a href="/rules">Rules</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</div>


<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
<script>
    window.lat = {{visitor.lat}};
    window.lng = {{visitor.lng}};
</script>
<script src="/assets/js/main.js"></script>

</body>
</html>