{% extends "template.twig" %}
{% block section %}volunteer{% endblock %}
{% block page %}pick-region{% endblock %}
{% block title %}{% if partner %}{{ partner.name }} Volunteer Sign-up {% else %}Volunteer Application{% endif %}{% endblock %}
{% block shortDescription %} {% endblock %}
{% block veryShortDescription %} {% endblock %}
{% block meta %}<meta name="robots" content="noindex" />{% endblock %}
{% import _self as m %}
{% macro tz_list(regions, type, partner) %}
    <ul>
        {% for region in regions %}
            <li><a href="?region={{ region.current_event.webname }}{% if partner %}&partner={{ partner.id }}{% endif %}">{{ region.current_event.region_name }}</a>
            {% if type == 'judge' %}
                ({{ region.current_event.ends_at|date('F j') }}, 9am)
            {% else %}
                ({{ region.current_event.starts_at|date('F j') }})
            {% endif %}
            </li>
            {% if region.current_event.overflow_event %}
                <li><a href="?region={{ region.current_event.overflow_event.webname }}{% if partner %}&partner={{ partner.id }}{% endif %}">{{ region.current_event.overflow_event.region_name }}</a>
                {% if type == 'judge' %}
                    ({{ region.current_event.overflow_event.ends_at|date('F j') }}, 9am)
                {% else %}
                    ({{ region.current_event.overflow_event.starts_at|date('F j') }})
                {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}
{% block content %}
    <h2>In which city do you want to volunteer?</h2>

    <h3>Pacific</h3>
    {{ m.tz_list(tz_regions['America/Los_Angeles'], type, partner) }}

    <h3>Mountain</h3>
    {{ m.tz_list(tz_regions['America/Denver'], type, partner) }}

    <h3>Central</h3>
    {{ m.tz_list(tz_regions['America/Chicago'], type, partner) }}

    <h3>Eastern</h3>
    {{ m.tz_list(tz_regions['America/Detroit'], type, partner) }}
{% endblock %}
